@using PatelHiren_Assignment3.Models.Entities
@model IEnumerable<Class>

@{
    var member = (Member?)ViewData["Member"];
    ViewData["Title"] = $"Pick a class for {member!.FirstName} {member!.LastName}";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstructorName)
                    </td>
                    <td>
                        <a asp-action="Create" asp-controller="MemberClass"
                            asp-route-id="@member!.MemberId" 
                            asp-route-classId="@item.Id">Sign up</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
    <a asp-action="Details" asp-controller="Member" asp-route-id="@member.MemberId">Back to Member list</a>
</div>
